extends layout

block content
	include ./menu.pug
	if user != null
		h1 Welcome, #{user.email}
		img(src="https://i.kym-cdn.com/photos/images/newsfeed/000/059/601/spiderman116_spideydancing1.gif")
	else
		include ./login.pug
