extends layout

block content
	include ./menu.pug

	p *cannot change email and password at the same time

	if user != null
		if user.admin == true
			form(action='/settings' method='post')
				label(for='account'): b Account TBChanged:
				input(type='text' name='account')
				button(type='submit') Choose

		form(action=`/users/update/${userEmail}` method='post')
			label(for='email'): b New Email:
			input(type='text' name='email')
			button(type='submit') Change

			label(for='password'): b New Password:
			input(type='password' name='password')
			button(type='submit') Change

		if user.admin == true
				li: a(href='/addUser') Add a New User
	
	else
		include ./login.pug