extends layout

block content
	include ./menu.pug

	p *only one can be changed at a time

	if user != null
		form(action='/users/update' method='post')
			label(for='email'): b New Email:
			input(type='text' name='email')
			button(type='submit') Change

			label(for='password'): b New Password:
			input(type='password' name='password')
			button(type='submit') Change

		if user.admin == true
				li: a(href='/addUser') Add a New User
	
	else
		include ./login.pug